/* layout */
$grid-width: 114rem;
$gutter-horizontal: 5rem;

    /* colors */
$color-black: #000000;
$color-white: #ffffff;

$color-primer: #222f3e;
$color-town: #576574;
$color-petrel: #8395a7;
$color-ballerina: #c8d6e5;

$color-megaman: #48dbfb;
$color-cyanite: #0abde3;

$color-purple: #5f27cd;
$color-bluebell: #341f97;

$color-wild-caribbean-green: #1dd1a1;
$color-dark-mountain-meadow: #10ac84;