 /* form css */
.form {
    text-align: -webkit-center;
    margin-bottom: 1rem;

    &__field {
        padding: .5rem .5rem;
        background-color: transparent;
        border-radius: 15px;
        border: 1px solid $color-dark-mountain-meadow;
        font-size: 16px;
        display: block;
        width: -webkit-fill-available;
        outline: none;
        transition: all .3s;
        margin: .5rem auto;
        color: $color-cyanite;
    
        &::placeholder {
            color: $color-cyanite;
        }

        &:active,
        &:focus {
            border: 2px solid $color-dark-mountain-meadow;
            box-shadow: 0 .25rem .5rem $color-white;
            background: linear-gradient(
                60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%)
            );
        }
    }
    
    &__text--area {
        width: -webkit-fill-available;
        background-color: inherit;
        border-radius: 15px;
        border: 1px solid $color-dark-mountain-meadow;
        outline: none;
        padding: .5rem .5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        transition: all .3s;
        color: $color-cyanite;

        &::placeholder {
            color: $color-cyanite;
        }

        &:active,
        &:focus {
            border: 2px solid $color-dark-mountain-meadow;
            box-shadow: 0 .25rem .5rem $color-white;
            background: linear-gradient(
                60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%)
            );
        }
    }
}

  /* Picture side */

.image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid $color-dark-mountain-meadow;
    padding: 5px;
}



